body{
	font-family: 'Lato', sans-serif;
	margin:0;
	background-color: #CACCD1;
}
.row{
	margin:0;
}
.create{
	margin-top: 4.5vh;
}
.create__inner{
	background-color: white;
}
.create h4{
	color: white;
	font-size: 1.7em;
}
.create__perfil{
	padding-right: 0;
	padding-left: 15px;
	padding-top: 15px;
}
.create__perfil img{
	width: 40px;
	border:solid 1px #CACCD1;
	border-radius: 2%;
}
.fa-plus-circle{
	font-size: 100%;
	color:#CCC;
	margin-left: 12px;
}
#add-button{
	margin-left: 110px;
}
.create__contenido--usuario{
	margin-top: 20px;
	margin-bottom: 20px;
}
.create__contenido--texto input{
	height: 30vh;
	vertical-align: text-top;
}
.create__contenido--boton{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.btn-default{
	width: 100%;
	background-color: #CACCD1;
}
.tweet__hidden{
	display: none;
}
.tweet{
	margin-top: 11vh;
	background-color: white;	
	padding: 0;
}
.tweet__contenido{
	padding-top: 20px;
	text-align: justify;
}
.tweet__contenido--perfil{
	padding-top: 20px;
	width: 100px;
	height: 100px;
}
.tweet__contenido--perfil img{
		
}
.tweet__contenido--usuario h4{
	margin: 0;
}
.tweet__contenido--texto{
	margin-top: 20px;
	margin-bottom: 20px;
}
.tweet__contenido--texto p{
	margin: 0;
	padding-right: 10px;
}
.tweet__contenido--footer{
	margin-top: 20px;	
	margin-left: 120px;
}
.tweet__contenido-like{
	float: left;
	padding-bottom: 20px;
	margin-left: 20px;
	margin-right: 10px;	
}
.fa-heart{
	font-size: 300%;
	color:#CCC;
}
.tweet__contenido-contador{
	float: left;
	padding-bottom: 20px;
	margin-right: 70px;
}
.tweet__contenido-contador p{
	font-size: 2em;
}
.tweet__contenido-cancel{
	float: left;
	padding-bottom: 20px;
	margin-left: 70px;
	margin-right: 20px;
}
.fa-times-circle{
	font-size: 300%;
	color:#CCC;
}	
.tweet__contenido-like-red{
	color: tomato;
}